<div>
    <div class="cardRow">
        <p class="cardRowTitle">NOME</p>
        <p class="cardRowContent"><%= user.userName%></p>
    </div>
    <div class="cardRow">
        <p class="cardRowTitle">E-MAIL</p>
        <p class="cardRowContent"><%= user.userEmail%></p>
    </div>
    <div class="cardRow">
        <p class="cardRowTitle">NASC.</p>
        <p class="cardRowContent"><%= user.userBirthDate%></p>
    </div>
    <div class="cardRow">
        <p class="cardRowTitle">TEL.</p>
        <p class="cardRowContent"><%= user.userTelephone%></p>
    </div>
</div>